.Main {
    padding-top: 72px; /* To avoid the header covering content */
    padding-bottom: 25px; /* To avoid the footer covering content */

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
