.ZodiacCard {
    width: 200px;
    padding: 20px;
    margin: 20px;
    /* background-image: url('../../images/parchment.jpg'); */
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.665);
}

.ZodiacCard img {
    height: 180px;
    object-fit: contain;
}
