.ZodiacCard {
    width: 200px;
    padding: 10px 20px;
    margin: 20px;
    /* background-image: url('../../images/parchment.jpg'); */
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.665);
}

.ZodiacCard img {
    height: 180px;
    padding: 10px;
    object-fit: contain;
}

.ZodiacCard .name {
    font-size: 1.5em;
    font-weight: bold;
}

.ZodiacCard .symbol {
    font-size: 0.8em;
}

.ZodiacCard .dates {
    text-align: center;
    margin: 15px;
}
