.Header {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--header-color);
    box-shadow: 0 0 30px black;
}

.Header .title {
    color: white;
    font-size: 2.0em;
    font-weight: bold;
}
