.Footer {
    padding: 5px 15px;
    background-color: #244163;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: right;
    font-size: 0.8em;
    box-shadow: 0 0 30px black;
}
