* {
  box-sizing: border-box;
}

body {
  background-image: url('./images/felt.jpg');
  background-attachment: fixed;
  background-size: contain;
  background-blend-mode: multiply;
  background-color: rgb(87, 66, 107);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
